* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
  }

header{
    background-color: antiquewhite;
    text-align: center;
    font-family: fantasy;
    font-size: 24px;
}
  
.red{
    color: red;
}

.section-one{
    background-color: burlywood;
}

.section-two{
    background-color: chocolate;
}

aside{
    width: 50%;
    background-color: gray;
    float: right;
    border: none;
    padding: 0;
}